.form-head {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.form-wrap {
    max-width: 500px;
    margin: 30px auto;
}

.form-wrap .btn {
    width: 100%;
    margin-top: 20px;
}

.form-wrap sup {
    color: red;
}

.form-text {
    margin-bottom: .25rem;
}